@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  min-height: 100vh;
  position: relative;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F9F9F7;
}

::-webkit-scrollbar-thumb {
  background: #8DA399;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71827A;
}
